.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 5vw;
  background-color: #ffffff;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  font-size: 2rem;
  background-color: #636ff6;
  color: #ffff;
  padding: 4px;
  border-radius: 20%;
}

.logo h1 {
  margin-left: 0.3rem;
}

.search-bar {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-left: 16px;
  position: relative;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.search-form {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 24px;
  gap: 12px;
}

.search-form input {
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  min-height: 48px;
  border: none;
  outline: none;
  background: transparent;
  line-height: 1;
  padding: 0 0 0 24px;
  color: #000;
}

.search-seprator {
  background-color: #e6e6e6;
  height: 36px;
  width: 1px;
}

.search-icon {
  font-size: 1.8rem;
  max-width: 65px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.signUp-btn,
.login-btn {
  background-color: #636ff6;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
}

.login-btn {
  margin-right: 0.5rem;
  background-color: #ffff;
  color: #000;
}

.navContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 5rem;
}

.nav-list-item {
  display: flex;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  margin: 0 0 0 -15px;
  padding: 0 0 0 15px;
}

.nav-list-item li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  color: #484848;
}

.nav-list-item a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #523ee8;
}

/* Responsive Screens */

@media (min-width: 1000px) and (max-width: 1200px) {
  .nav-list-item li {
    font-size: 12px;
    font-weight: 500;
  }
}

@media (max-width: 999px) {
  .nav-list-item {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .headerContainer {
    height: 8vw;
  }

  .nav-list-item li {
  }
}

@media (max-width: 1000px) and (min-width: 600px) {
  .logo-icon {
    font-size: 1.5rem;
  }

  .logo h1 {
    font-size: 1rem;
    width: 6rem;
  }

  .search-form {
    display: none;
  }

  .header-btn {
    display: flex;
    width: 25rem;
  }

  .signUp-btn,
  .login-btn {
    font-size: 12px;
    font-weight: 600;
    min-height: 25px;
  }
}

@media (max-width: 600px)  {
  .headerContainer {
    height: 12vw;
  }

  .logo-icon {
    font-size: 1.5rem;
  }

  .logo h1 {
    font-size: 1rem;
    width: 6rem;
  }

  .search-form {
    display: none;
  }

  .header-btn {
    display: flex;
    width: 85rem;
  }

  .signUp-btn,
  .login-btn {
    font-size: 12px;
    font-weight: 600;
    min-height: 25px;
    width: 50px;
  }
}
